* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}
header {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: auto auto auto; 
  align-items: center;       
  justify-content: center;   
  column-gap: 40px;           
  padding: 10px 0;         
}
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
h1, h2 {
  font-family: var(--heading-font);
  color: rgb(2, 231, 247);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.container2 {
    display: flex;
    justify-content: space-around;
}

.two {
    background-color: #ace;
    height: 100px;
}
.container3 {
  display: flex;
   justify-content: space-around;

}
.hero {
  position: relative;
}
.hero h1 article {
    position: absolute;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
  }
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
.hero article img {
  float: right;
  width: 125px;
}
h2 {
  top: 40px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
.navigation {
  display: flex;
 list-style: none
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}
footer {
    display: grid;
  align-items: center;
}
    
.socialmedia {
  grid-column: 2/3;
  margin: 1rem;
  justify-self: end;
}
    
.copy {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center;
}
.socialmedia a {
    text-decoration: none;
}
